# Editors:
.idea/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# .DS_Store

# Migrations:
*/*/migrations/0*

# Cache:
*/*/__pycache__/

# DB:
*/db.sql*

# Idea
.idea/*

